:root{
    --black:#070707;
    --lightpink:#FFF0D3;
    --skyblue:#0479B7;
    --lightgray:#C4C4C4;
    --deepgray:#797979;
    --gray:#B1B1B1;
    --light:#FFFCF7;
    --tokoisblue:#04B786;
    --cyan:#D3EFFF;
    --lighter:#F7FCFF;
    --deepgreen:#04B751 ;
    --lightred:#FF0000 ;
    --deepred:#B70404;
    --white:#FFFFFF;
  }

  .btn-color{
    background:var(--skyblue);
  }

*,html,body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* body{ */
    /* background:black;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../../public/assets/home.png");
    background-repeat: no-repeat;
    background-size: cover; */
/* } */

div.right-side-items{
    font-family: AS Monaco Diagonale;
}

.jumbotron{
    height: 15vh;
    background-color: var(--black);
} 

button.white-border-button, button{
    border: 2px solid var(--lightpink) !important;
}

p.text-dimention{
    font-size: 30px;
}

div.main-content{
    background-color: var(--white);
    width: 100%;
    height: 100%;
}